md-input-container .paper-password-strength {
  font-size: 12px;
  line-height: 14px;
  clear: left;
  padding-top: 5px;

  md-progress-linear {
    margin-right: 4px;

    .md-bar {
      background-color: paper-color($color-green, '500');
    }
  }
}
