{{#paper-input
  type="password"
  class=inputClass
  label=label
  value=value
  onChange=onChange
  onFocus=onFocus
  onBlur=onBlur
  onKeyDown=onKeyDown
  required=required
  customValidations=customValidations
  errors=(readonly inputErrors)
  errorMessages=errorMessages
  passThru=passThru
}}
  {{#if value}}
    <div class="md-errors-spacer"></div>
    <div class="paper-password-strength layout-row layout-align-start-center">
      {{paper-progress-linear
        class="flex-20"
        value=strengthValue
        warn=strengthWarning
      }}
      <div class="flex-80">Password Strength: {{strengthLevel}}</div>
    </div>
  {{/if}}
{{/paper-input}}